.fade-container {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.fade-component {
  opacity: 0;
  animation: fadeIn 0.5s ease-in-out forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
